{{ define "style" }}

{{ with .Resources.GetMatch "style.css" }}
<style>{{ .Content | safeCSS }}</style>
{{ end }}

{{ end }}

{{ define "main" }}

<main id="main" px-10 py-10>

  <header>
    <h1 id="{{.Title}}" text="center">
      <a text-dark dark:text-light hover:decoration-underline href="{{ if .IsPage }}#{{.Title}}{{ else }}{{.Permalink}}{{ end }}">{{
        .Title }}</a>
    </h1>
    <section my5 text-sm text-center>
      <span>{{ i18n "WordCount" . }}</span>
      <span>·</span>
      <span>
        <time>{{- i18n "ReadingTime" . -}}</time>
      </span>
    </section>
  </header>

  {{ if .IsPage }}
  <aside prose ma>
    {{ partial "toc.html" . }}
  </aside>
  {{ else }}
  {{ end }}

  <article prose ma rd-2 p2>

    {{ with .Content }}
    {{ . }}
    {{ end }}
  </article>

  <footer prose ma flex justify-between>

    {{ with .PrevInSection }}
    <div relative flex active:scale-96>
      <i i-simple-line-icons:arrow-left hfull></i>
      <span text-xl>
        {{.Title}}
      </span>
      <a absolute left-0 right-0 top-0 bottom-0 href="{{.Permalink}}" title="{{.Title}}"></a>
    </div>
    {{ end }}

    {{ with .NextInSection }}
    <div relative flex active:scale-96>
      <span text-xl>
        {{.Title}}
      </span>
      <i i-simple-line-icons:arrow-right hfull></i>
      <a absolute left-0 right-0 top-0 bottom-0 href="{{.Permalink}}" title="{{.Title}}"></a>
    </div>
    {{ end }}

  </footer>

  <aside prose ma>
  {{ partial "related.html" . }}
  </aside>
</main>
{{ end }}

{{ define "script" }}

{{ with .Resources.GetMatch "script.js" }}
<script>{{ .Content | safeJS }}</script>
{{ end }}

{{ end }}