// 在 SCSS 中

/* 超链接 */

/* 文章样式 */
article {

  img {
    max-width: 100%;
    border-radius: 5px;
    vertical-align: middle;
  }

}

/*  脚注样式 */
.footnotes {

  >hr {
    border: 1px dotted palevioletred;
  }
}

pre,
.highlight pre {
  overflow-x: auto;
  border-radius: 5px;
  padding: 10px;
}

code {
  opacity: 0.8;
  word-wrap: break-word;
}

/*  目录样式 TODO */
#TableOfContents {
  text-decoration: none;

}