<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" all:transition-400>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{/*
    <meta name="description" content=""> */}}
    {{/*
    <meta name="keywords" content=""> */}}

    {{ block "meta" . }}{{ end }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}
    </title>
    {{ partial "head.html" . }}
    {{ block "link" . }}{{ end }}
    {{ block "style" . }}{{ end }}
</head>

<body m0 text-dark dark="text-light bg-black">
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ block "footer" . }}{{ end }}
    {{ partial "dev.html" . }}
    {{ block "script" . }}{{ end }}
</body>

</html>