<!DOCTYPE html>
<html class="" lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{/*
    <meta name="description" content=""> */}}
    {{/*
    <meta name="keywords" content=""> */}}

    {{ block "meta" . }}{{ end }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}
    </title>
    {{ partial "head.html" . }}
</head>

<body m0 h-full bg="fixed cover no-repeat center clip-border #ffffffce dark:#00000055 dark:bg-blend-darken"
    all:transition-250>
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ block "footer" . }}{{ end }}
</body>

</html>