{{ define "main" }}
<main id="main"  max-wprose ma px-10 py-10>
  <header>
    {{ partial "breadcrumb.html" . }}
  </header>
  {{ with .Content }}
    <article mt-10 box-border>
      {{ . }}
    </article>
  {{ end }}

  {{ range .Pages.GroupByDate "2006" }}

  <section>
    <h2 relative h15 pointer-events-none ma>
      <span absolute -left-2rem -top-2rem op-15  text-8em font-bold>{{ .Key }}</span>
    </h2>
    {{ range .Pages }}
    {{ .Render "summary"}}
    {{ end }}
    </ul>
  </section>

  {{ end }}

</main>
{{ end }}