<article relative mt-5 shadow bg="white op10" dark:bg="black op20 shadow-2xl" rd-2 p2 hover:scale-96>
  <header>
    <h3 id="{{.Title}}">
      <a text-rose-9 dark="text-rose" href="{{ .RelPermalink }}">
        {{- .Title -}}
        {{ if .Site.IsServer }}
        {{- if .Draft }}<sup><span text-gray-7>&nbsp;&nbsp;[草稿]</span></sup>{{- end }}
        {{ end }}
      </a>
    </h3>
    <p>
      <time>
        {{- .Date | time.Format ":date_full" -}}
      </time>

    </p>
  </header>
  <p break-all>
    {{ .Summary }}
  </p>
  {{ if .Truncated }}
  <div>
    <a text-rose-9 dark="text-rose" href="{{ .RelPermalink }}">阅读更多...</a>
  </div>
  {{ end }}
  {{/* <a absolute left-0 right-0 top-0 bottom-0px href="{{.Permalink}}" title="{{ .Params.Description }}"></a> */}}
</article>