<article relative prose ma my-5 shadow rd-2 p2 
bg="light op60 dark:dark dark:op70" text="dark:light" active:scale-96>
  <header>
    <h3 id="{{.Title}}">
      {{- .Title -}}
      {{ if .Site.IsServer }}
      {{- if .Draft }}<sup><span text-rose>&nbsp;&nbsp;[草稿]</span></sup>{{- end }}
      {{ end }}
    </h3>
    <p>
      <time>
        {{- .Date | time.Format ":date_full" -}}
      </time>

    </p>
  </header>
  <p>
    {{ .Summary }}···
  </p>
  <a absolute left-0 right-0 top-0 bottom-64px href="{{.Permalink}}" title="{{ .Params.Description }}"></a>
  <div prose ma my-5>
    <span>
      {{ with .Params.categories -}}
      {{ range . -}}
      [<a href='{{ "categories/" | absURL }}{{ . | urlize }}' title="{{.}}">{{- . -}}</a>]
      {{ end -}}
      {{ end -}}
    </span>
    <span>
      {{ with .Params.tags -}}
      {{ range . -}}
      <a href='{{ "tags/" | absURL }}{{ . | urlize }}' title="{{.}}">#{{- . -}}</a>
      {{ end -}}
      {{ end -}}
    </span>
  </div>
</article>
