<article {{- if .Draft -}} op50 {{- end -}}>
  <header>
    <h3 id="{{ .Title }}">
      <a href="{{ .RelPermalink }}">
        {{- .Title -}}
      </a>
      {{- if .Site.IsServer -}}
      {{- if .Draft -}}<sup><span>&nbsp;&nbsp;[草稿]</span></sup>{{- end -}}
      {{- end -}}
    </h3>
    <p>
      <time>
        {{- .Date | time.Format ":date_full" -}}
      </time>
    </p>
  </header>
  <p>
    {{ .Summary }}
  </p>
  {{ if .Truncated }}
  <div>
    <a href="{{ .RelPermalink }}">阅读更多···</a>
  </div>
  {{ end }}
</article>