/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: icons */
.i-material-symbols\:anchor,
[i-material-symbols\:anchor=""]{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12 22q-1.525 0-3.125-.55t-2.9-1.5q-1.3-.95-2.138-2.225T3 15v-3l4 3l-1.55 1.55q.725 1.275 2.3 2.2T11 19.925V11H8V9h3V7.825q-.875-.325-1.438-1.088T9 5q0-1.25.875-2.125T12 2q1.25 0 2.125.875T15 5q0 .975-.563 1.738T13 7.824V9h3v2h-3v8.925q1.675-.25 3.25-1.175t2.3-2.2L17 15l4-3v3q0 1.45-.838 2.725t-2.137 2.225q-1.3.95-2.9 1.5T12 22Zm0-16q.425 0 .713-.288T13 5q0-.425-.288-.713T12 4q-.425 0-.713.288T11 5q0 .425.288.713T12 6Z'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1.2em;height:1.2em;}
.i-simple-icons\:gitee{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M11.984 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12a12 12 0 0 0 12-12A12 12 0 0 0 12 0a12 12 0 0 0-.016 0zm6.09 5.333c.328 0 .593.266.592.593v1.482a.594.594 0 0 1-.593.592H9.777c-.982 0-1.778.796-1.778 1.778v5.63c0 .327.266.592.593.592h5.63c.982 0 1.778-.796 1.778-1.778v-.296a.593.593 0 0 0-.592-.593h-4.15a.592.592 0 0 1-.592-.592v-1.482a.593.593 0 0 1 .593-.592h6.815c.327 0 .593.265.593.592v3.408a4 4 0 0 1-4 4H5.926a.593.593 0 0 1-.593-.593V9.778a4.444 4.444 0 0 1 4.445-4.444h8.296Z'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1.2em;height:1.2em;}
.i-simple-icons\:github{--un-icon:url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12 .297c-6.63 0-12 5.373-12 12c0 5.303 3.438 9.8 8.205 11.385c.6.113.82-.258.82-.577c0-.285-.01-1.04-.015-2.04c-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729c1.205.084 1.838 1.236 1.838 1.236c1.07 1.835 2.809 1.305 3.495.998c.108-.776.417-1.305.76-1.605c-2.665-.3-5.466-1.332-5.466-5.93c0-1.31.465-2.38 1.235-3.22c-.135-.303-.54-1.523.105-3.176c0 0 1.005-.322 3.3 1.23c.96-.267 1.98-.399 3-.405c1.02.006 2.04.138 3 .405c2.28-1.552 3.285-1.23 3.285-1.23c.645 1.653.24 2.873.12 3.176c.765.84 1.23 1.91 1.23 3.22c0 4.61-2.805 5.625-5.475 5.92c.42.36.81 1.096.81 2.22c0 1.606-.015 2.896-.015 3.286c0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");-webkit-mask:var(--un-icon) no-repeat;mask:var(--un-icon) no-repeat;-webkit-mask-size:100% 100%;mask-size:100% 100%;background-color:currentColor;color:inherit;width:1.2em;height:1.2em;}
/* layer: default */
.fixed,
[fixed=""]{position:fixed;}
.bottom-0,
[bottom-0=""]{bottom:0;}
.right-0,
[right-0=""]{right:0;}
.top-0,
[top-0=""]{top:0;}
.z-50,
[z-50=""]{z-index:50;}
.mr-10,
[mr-10=""]{margin-right:2.5rem;}
.mt-12,
[mt-12=""]{margin-top:3rem;}
.block,
[block=""]{display:block;}
.hidden,
[hidden=""]{display:none;}
.h-8,
[h-8=""]{height:2rem;}
.w-8,
[w-8=""]{width:2rem;}
.flex,
[flex=""]{display:flex;}
.items-center,
[items-center=""]{align-items:center;}
.justify-center,
[justify-center=""]{justify-content:center;}
.rounded-full,
[rounded-full=""]{border-radius:9999px;}
.bg-gray-200,
[bg-gray-200=""]{--un-bg-opacity:1;background-color:rgba(229,231,235,var(--un-bg-opacity));}
.bg-rose-200,
[bg-rose-200=""]{--un-bg-opacity:1;background-color:rgba(254,205,211,var(--un-bg-opacity));}
.p-r-5,
[p-r-5=""]{padding-right:1.25rem;}
[text-center=""]{text-align:center;}
.text-sm,
[text-sm=""]{font-size:0.875rem;line-height:1.25rem;}
.uppercase,
[uppercase=""]{text-transform:uppercase;}
.color-rose,
[color-rose=""]{--un-text-opacity:1;color:rgba(251,113,133,var(--un-text-opacity));}
.text-gray-700,
[text-gray-700=""]{--un-text-opacity:1;color:rgba(55,65,81,var(--un-text-opacity));}
.op80\>,
[op80=""]{opacity:0.8;}
@media (min-width: 640px){
.sm\:block,
[sm\:block=""]{display:block;}
[sm\:hidden=""]{display:none;}
.sm\:bg-orange-200,
[sm\:bg-orange-200=""]{--un-bg-opacity:1;background-color:rgba(254,215,170,var(--un-bg-opacity));}
}
@media (min-width: 768px){
.md\:block,
[md\:block=""]{display:block;}
[md\:hidden=""]{display:none;}
.md\:bg-green-200,
[md\:bg-green-200=""]{--un-bg-opacity:1;background-color:rgba(187,247,208,var(--un-bg-opacity));}
}
@media (min-width: 1024px){
.lg\:block,
[lg\:block=""]{display:block;}
[lg\:hidden=""]{display:none;}
.lg\:bg-purple-200,
[lg\:bg-purple-200=""]{--un-bg-opacity:1;background-color:rgba(233,213,255,var(--un-bg-opacity));}
}
@media (min-width: 1280px){
[xl\:block=""]{display:block;}
[xl\:hidden=""]{display:none;}
[xl\:bg-red-200=""]{--un-bg-opacity:1;background-color:rgba(254,202,202,var(--un-bg-opacity));}
}