{{ if .Site.IsServer }}
<div fixed bottom-0 right-0 p-r-5 op10 hover="op80">
    <div flex items-center justify-center mt5>
        <button rounded-full uppercase block sm:hidden>all</button>
        <button rounded-full uppercase b-0 bg-orange hidden sm:block md:hidden>sm</button>
        <button rounded-full uppercase b-0 bg-green hidden md:block lg:hidden>md</button>
        <button rounded-full uppercase b-0 bg-purple hidden lg:block xl:hidden>lg</button>
        <button rounded-full uppercase b-0 bg-rose hidden xl:block>xl</button>
    </div>
    <a decoration-none c-dark dark:text-light hover:op90 i-carbon-sun dark="i-carbon-moon">mode</a>
    <div></div>
    <ul>
        <h2>Git</h2>
        {{/* <li>commit {{ .GitInfo.Subject }}</li> */}}
        <li>commit {{ .GitInfo.AbbreviatedHash }}</li>
        <li>Author:
            <a text-dark dark:text-light href="https://github.com/{{ .GitInfo.AuthorName }}">{{ .GitInfo.AuthorName }}</a>
            &nbsp;
            <a text-dark dark:text-light href="mailto:{{ .GitInfo.AuthorEmail }}">
                <{{ .GitInfo.AuthorEmail }}>
            </a>
        </li>
        <li>Date: {{ .GitInfo.AuthorDate }}</li>
        <li>
            <a text-dark dark:text-light href="https://github.com/hencter/hencte.top/commit/{{ .GitInfo.AbbreviatedHash }}">
                {{.GitInfo.AbbreviatedHash }}
            </a>
        </li>
    </ul>

    <ul>
        <h2>File</h2>
        <li>{{.File.Path}}</li>
        <li>{{.File.Dir}}</li>
    </ul>
</div>
{{ end }}