<header>
  <nav  flex flex-wrap justify-between p8>
    <div class="spacer">
      <a decoration-none hover:op80 {{ if .IsHome }} op60 {{ else }} op30 {{ end }} href="/">
        <h1>
          {{ .Site.Title }}
        </h1>
      </a>
    </div>
    {{/* Menus */}}
    <div self-center>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <a decoration-none  hover:op90 {{if or ($currentPage.IsMenuCurrent "main" .)
        ($currentPage.HasMenuCurrent "main" .) }} op60 {{ else }} op30 {{end}} href="{{ .URL }}" title="{{ .Title }}">{{
        .Name }}</a>
      {{ end }}
      
    </div>
  </nav>
</header>