{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  {{/* {{ printf "%s" $menuID }} */}}
  {{/* 仅在 $menuID == main 显示 */}}
  {{ if eq $menuID "main" }}
    <nav>
      <ul class="menu">
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        <li list-none>
          <button
            id="toggle"
            i-carbon-sun
            text-xl
            dark="i-carbon-moon"
            title="切换主题"
          >
            切换主题
          </button>
        </li>
      </ul>
    </nav>
  {{ else }}
    <nav>
      <ul>
        {{- partial "inline/menu/footer.html" (dict "page" $page "menuEntries" .) }}
      </ul>
    </nav>
  {{ end }}
{{- end }}

{{/* 这个内联 partials 模板递归地“遍历”菜单结构，呈现一个本地化的、可访问的嵌套列表。 */}}
{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}

    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}


    <li>
      {{ with .Pre }}
        <i class="{{ . }}"></i>
      {{ end }}
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q " $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
        title="{{ .Title }}"
      >
        <span>
          {{ or (T .Identifier) .Name | safeHTML }}
        </span>
      </a>
      {{/* 子菜单 */}}
      {{- with .Children }}
        <ul class="child-menu">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}

{{/* 页脚菜单 */}}
{{- define "partials/inline/menu/footer.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}


    <li list-none hover="bg-white bg-op20 rd-1">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q " $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
        text-center
        text-dark
        dark="text-white"
        title="{{ .Title }}"
      >
        {{ with .Pre }}
          <i class="{{ . }}"></i>
        {{ end }}
        {{/* {{ or (T .Identifier) .Name | safeHTML }} */}}
      </a>

      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
