{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<aside>
  <h2>另见</h2>
  <ul>
    {{ range $i, $p := . }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ with .HeadingsFiltered }}
      {{/* 这里关联的是由内容中有相同的标题的文章 */}}
      <ul>
        {{ range . }}
        {{ $link := printf "%s#%s" $p.RelPermalink .ID | safeURL }}
        <li>
          <a href="{{ $link }}">
            #{{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</aside>
{{ end }}