{{ define "style" }}
  <style>
    img {
      max-width: 95%;
    }
  </style>
{{ end }}

{{ define "main" }}
  <main
    all:m2
    max-wprose
    ma
    shadow
    rd-2
    bg="white op10"
    dark:bg="black op20 shadow-2xl"
  >
    <h2 text-center>简单获取所有页面</h2>
    <ul>
      {{ range .Pages }}
        <li>
          <a text-dark dark="text-light" href="{{ .Permalink }}"
            >{{ .Title }}</a
          >
          {{- if .Draft }}
            <sup><span text-rose>&nbsp;&nbsp;[草稿：待完善]</span></sup>
          {{- end }}
        </li>
      {{ end }}
    </ul>

    <hr />
    {{ partial "test/unocss-icon.html" . }}
    <hr />
    {{ partial "test/image-filters.html" }}

    <footer>
      <p text="center red6">
        测试页面本页面仅用来测试各组件和相应模版的，每个模块单独放在
        layout/particals/test/ 目录下面
      </p>
    </footer>
  </main>
{{ end }}
